<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groupie tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styletest.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
</head>

<header>

  <div class="topnav">
 
    <a href="/">Artists</a>
    <a href="/search">Search</a>
   </div>
  <details class="p2">
    <summary>Credits</summary>
    <ul>JollyRoger Alo Rhynes</ul>
   </details>
   <form method="post" action="/filter">
       <script>
        $( function() {
          $( "#cDate-Range" ).slider({
            range: true,
            min: 1900,
            max: 2021,
            values: [ 1900, 2021 ],
            slide: function( event, ui ) {
              $( "#cDate" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
            }
          });
          $( "#cDate" ).val($( "#cDate-Range" ).slider( "values", 0 ) + " - "
            + $( "#cDate-Range" ).slider( "values", 1 ) );
        } );
        </script>

<script>
    $( function() {
      $( "#fAlbum-range" ).slider({
        range: true,
        min: 1900,
        max: 2021,
        values: [ 1900, 2021 ],
        slide: function( event, ui ) {
          $( "#fAlbum" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        }
      });
      $( "#fAlbum" ).val($( "#fAlbum-range" ).slider( "values", 0 ) + " - "
        + $( "#fAlbum-range" ).slider( "values", 1 ) );
    } );
    </script>


    <p>
        <label for="cDate">Creation Date:</label>
        <input type="text" id="cDate" name="cDatename" readonly style="border:0; color:black; font-weight:bold;">
      </p>
      <div id="cDate-Range"></div>

  <p>
    <label for="fAlbum">First Album:</label>
    <input type="text" id="fAlbum" name="fAlbumname" readonly style="border:0; color:black; font-weight:bold;">
  </p>
  <div id="fAlbum-range"></div>
  Members:
  <input type="checkbox" id="m1" name="m1" value="1">
  <label for="m1"> 1</label>
  <input type="checkbox" id="m2" name="m1" value="2">
  <label for="m1"> 2</label>
  <input type="checkbox" id="m3" name="m1" value="3">
  <label for="m1"> 3</label>
  <input type="checkbox" id="m4" name="m1" value="4">
  <label for="m1"> 4</label>
  <input type="checkbox" id="m5" name="m1" value="5">
  <label for="m1"> 5</label>
  <input type="checkbox" id="m6" name="m1" value="6">
  <label for="m1"> 6</label>
  <input type="checkbox" id="m7" name="m1" value="7">
  <label for="m1"> 7</label>
  <input type="checkbox" id="m8" name="m1" value="8">
  <label for="m1"> 8</label>
  
  <label for="locations">Choose location:</label>
  <select name="locations" id="locations">
        <option value= ""></option>
    
    {{range $k, $v := .Fmap}}
    <optgroup label="{{$k}}">
        {{range $v}}
        <option value= "{{.}}">{{.}}</option>
            {{end}}
            {{end}}
    </optgroup>
   
  </select>
  <br><br>



  <button type="submit">Filter</button>
  



  </form>

  </header>


<body>
  <div class="container-fluid">
  <div class="row">
   
    {{range .ArtistData }}
       
        <div class="col-sm-3" style="background-color:lavender;">
        <div  class="card">
          <br> 
        <div class="p3">{{.Name}} </div>
    <br>
   <img src="{{.Image}}">
    <br> 
    <br> 
      <details class="p1">
        <summary>Members</summary>
          <ul>  {{range .Members}}
            {{ . }};
          {{end}}
          </ul>
      </details>  
      <details class="p1">
        <summary>Concerts</summary>
          <ul>  {{range $key, $value := .DatesLocations}}
            <p class="a"> {{$key}}:    </p>
              {{ range $value}}
            <p>{{.}}</p>
            {{end}}
          {{end}}
          </ul>
      </details>          
    <br> 
    
      <div class="p1"> Creation Date: {{.CreationDate}} </div> 
      <div class="p1"> First Album: {{.FirstAlbum}}</div>
      </div>  
        </div>
 
     {{end}}
         </div> 
          </div>  
        </div>
</body>
</html>