<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groupie tracker</title>
    <link rel="stylesheet" href="css/styletest.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<header>

  <div class="topnav">
 
    <a href="/">Artists</a>
    <a href="/search">Search</a>
   </div>
  <details class="p2">
    <summary>Credits</summary>
    <ul>JollyRoger Alo Rhynes</ul>
   </details>
   
  </header>
<body>
  <div class="container-fluid">
  <div class="row">
   
    {{range .ArtistData }}
       
        <div class="col-sm-4" style="background-color:lavender;">
        <div  class="card">
          <br> 
        <div class="p3">{{.Name}} </div>
    <br>
   <img src="{{.Image}}">
    <br> 
    <br> 
      <details class="p1">
        <summary>Members</summary>
          <ul>  {{range .Members}}
            {{ . }};
          {{end}}
          </ul>
      </details>  
      <details class="p1">
        <summary>Concerts</summary>
          <ul>  {{range $key, $value := .DatesLocations}}
            <p class="a"> {{$key}}:    </p>
              {{ range $value}}
            <p>{{.}}</p>
            {{end}}
          {{end}}
          </ul>
      </details>          
    <br> 
    
      <div class="p1"> Creation Date: {{.CreationDate}} </div> 
      <div class="p1"> First Album: {{.FirstAlbum}}</div>
      </div>  
        </div>
 
     {{end}}
         </div> 
          </div>  
        </div>
</body>
</html>