<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groupie tracker</title>
    <link rel="stylesheet" href="css/styletest.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 </head>
 <body>
  <div class="row">

    {{range .}}
      
    <div class="col-sm-6" style="background-color:lavender;">
      <div class="card">

     <div class="col-sm-6" >
         <br> 
      <div class="p3">{{.Name}} </div>
    <br>
    <img src="{{.Image}}">
    <br> 
    <br> 
 
    <br> 
     <div class="p1"> Creation Date: {{.CreationDate}} </div> 
      <div class="p1"> First Album: {{.FirstAlbum}}</div>
      </div> 
      <div class="col-sm-6">
        <div class="p1">
          <summary><b>Members</b></summary>
          {{range .Members}}
              {{ . }};
            {{end}}
        </div>
        <br> 
       <div class="p1">
          <summary><b>Concerts</b></summary>
            {{range $key, $value := .DatesLocations}}
              <p class="a"> {{$key}}:    </p>
                {{ range $value}}
              <p>{{.}}</p>
              {{end}}
            {{end}}
          
        </div>     
   </div>  
    </div>  
  </div>
    {{end}}
  </div> 
</div>  
  </article>
</body>
</html>